*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;/*Incluimos el borde y el paddin en el tamaño de la caja*/	
}
body{
    background: #ececd1;
}

/*----------------------CABECERA DE PAGINA----------------------*/
header{
    width: 100%;
}

header h1{
    left: 35px;
    top: 10px;
    font-size: 5vw;
    color: #ffffff;
    position: relative;
    width: 70%;
    text-shadow: 3px 2px 9px black;
}

header h3{
    position: relative;
    left: 37%;
    top: 8px;
    font-size: 2.3vw;
    width: 60%;    
    letter-spacing: 1px;
    color: #ffffff;
    text-shadow: 2px 1px 9px black;
}

header a img{
    width: 140px;
    height: 170px;
    position: relative;
    float: left;
    left: 25px;
    background: #fff;
    border: 4px solid darkred;
    padding: 25px 5px;
}

header:before{
    /*BANDA ROJA DE LA CABECERA*/
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: linear-gradient(0deg,#760000,#470000);
    height: 8em;
    z-index: -1;
    border-bottom: 4px solid #560303;
}

header .container-banderas{
    float: right;
    margin: 15px; 
}

header .container-banderas form{
    display: inline-block;
}

header .container-banderas input[type="image"]{
    width: 40px;
    height: 25px;	
    margin: 0px 5px;
}

header .container-banderas input:hover{
    transform: scale(1.15);
    transition-property: transform;
    transition-duration: 0.2s;
    box-shadow: 1px 1px 8px #000;
}

header .container-botones{
    text-align: center;
    clear: both;
}

header .container-botones button {
    padding: 10px;
    background: darkred;
    border: 2px solid black;
    border-radius: 5px;
    min-width: 120px;
    width: 12%;
    margin: 0px 10px;
    font-family: 'Quicksand', sans-serif;
}

header .container-botones a:hover button {
    background: linear-gradient(180deg,#790000,#3e0000);
    border: 2px solid #8f0000;
}

header .container-botones button span{
    margin-right: 10px;
}
header .container-botones a button  {
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}


/*----------------------MENU PRINCIPAL----------------------*/
.menu_bar{
    display: none;
}

.menu_bar span{
    font-size: 48px;	
}

#cerrar{
    display: none;
    color: #FFF;
}
#bars{
    color: darkred;
}

#menu-principal{
    width: 100%;    
    font-family: 'Quicksand', sans-serif;
}

#menu-principal nav{
    width: 90%;
    max-width: 1000px;
    margin: 20px auto;
    background-color:#FFFFFF;
    border-top: 2px solid darkred;
    border-bottom: 2px solid darkred;
    z-index: 1000;/*Para situarlo por encima del texto siemre*/
}

#menu-principal nav ul{
    /*overflow: hidden;/*Para que el texto no se pongadetras del menu*/
    list-style: none;
    text-transform: uppercase;
}

#menu-principal nav ul li{
    display: inline-block;
    position: relative;
    text-align: center;	
    font-weight: bold;
}
#menu-principal nav ul li a{
    display: block;
    color: #000000;
    padding: 20px;
    text-decoration: none;
}

#menu-principal nav ul li .caret{
    margin-left: 10px;
    margin-top: 0px;
}
#menu-principal nav ul li span{
    margin-right: 10px; /*Margen a los iconos*/
}

#menu-principal nav ul li a:hover,#menu-principal nav ul li a:active{
    background: #71eb71;
    color:#000;
}

#menu-principal nav ul li .children {
    display: none;
    position: absolute;
    z-index: 1000;
    background-color: #59C470;
    width: 100%;
}

#menu-principal nav ul li:hover .children {
    display: block;
}

#menu-principal nav ul li .children li{
    display: block;
    overflow: hidden;
    border-bottom: 1px solid #E7E7E7;
}

#menu-principal nav ul li .children li a{
    display: block;
    color: #000;
    font-weight: normal;
}

/*----------------------CUERPO---------------------*/

#bachillerato h1{
    flex: 100%;
    border-bottom: 2px solid #5e0000;
    margin:0 0 5% 0;
    font-size: 2.5em;
    color: #5e0000;
    text-shadow: 0px 0px 1px #320101;
}

#bachillerato > h3{
    top:0;
    left:0;
    margin: 0;
    padding: 0;
    color:white;
    background-color:black;
    text-align:center;
    padding:20px;
    clear:both;
    width:100%;
    font-size:2em;
    font-family: 'Mina', sans-serif;
}

.bach article{
    margin-bottom: 10%;
}

/*colores de cada bachillerato (primero y segundo)*/
.bach article:nth-of-type(1), .bach article:nth-of-type(7){
    background-color:darkred;
    color:white;
}
.bach article:nth-of-type(2), .bach article:nth-of-type(8){
    background-color:#59C470;
    color:black;
}
.bach article:nth-of-type(3), .bach article:nth-of-type(5){
    background-color:darkgreen;
    color:white;
}
.bach article:nth-of-type(4), .bach article:nth-of-type(6){
    background-color: white;
    color:black;
}

/*Ponemos todos los enlaces en blanco*/
#bachillerato a{
    text-decoration: none;
    color: white;
    font-family: 'Quicksand', sans-serif;
}
/*Y ahora cambiamos los que nos interesan a negro*/
#bachillerato article:nth-of-type(2) a,#bachillerato article:nth-of-type(8) a,
#bachillerato article:nth-of-type(4) a,#bachillerato article:nth-of-type(6) a{
    color: black;
}

.bach{
    padding:0;
    margin: 5% 3% 20% 3%;
}

.bach > h3{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    box-shadow: inset 0 0 5px 5px #292929; 
    border:1px solid black;
}

.curso{
    border-bottom-left-radius: 20px;   
    border-bottom-right-radius: 20px;   
    box-shadow: inset 10px 10px 80px 0px black; 
}

.curso div p{
    margin: 5% 5% 0 5%;		
}

.curso header{
    margin-top:10%;
    margin-bottom:20%;
    text-align:center;
}

.curso header span{
    font-size:2.6em;
}

.curso div{
    margin-bottom:20%;
}

/*.curso input[type=submit]{
    float: right;
    padding: 1em;
    margin: 0 10% 10% 0;
    border-radius: 10px;
    width: 30%;
    border: none;
    background: #CCC;
    box-shadow: 4px 3px 15px black;
}

.curso input[type=submit]:hover{
    background: #3a7999;
    color: white;
}*/

.curso input[type="image"]{
    float: right;
    width: 55px;
    margin: 15px;
}

.curso input[type="image"]:hover{
    transform: scale(1.1);
    transition-duration: 1s;
    transition-property: transform;
}

.curso:hover{
    box-shadow: inset 20px 10px 80px 0px black; 
    /*text-shadow: 2px 1px 9px black;*/
}

.bach a:hover{
    font-size: 1.4em;
    text-decoration: underline;
}

/*media query común para web y tablet*/
@media (min-width: 768px) { 

    .curso {
        float:left;
        width:25%;
    }

    .bach > article header h2{	
        font-size: 1.5em;
        padding: 5%;
    }

}
/*----------------------FOOTER----------------------*/

footer{
    width: 100%;
    margin-top: 20px;
    clear:both;
    padding-top: 10%;
}

.footer-container {
    width: 100%;
    /* background: darkred; */
    background: linear-gradient(180deg,#760000,#470000);
    color: #fff;
    border-top: 5px solid #560303;
}
.footer-container > p {
    text-align: center;
    padding: 15px;
}
.footer-main{
    width: 98%;
    max-width: 1000px;
    margin: auto;
    padding:50px 0;
    display: flex;
    flex-wrap: wrap;/* Si no cabe, pasa abajo*/
}

.footer-main .footer-columna{
    width: calc(100%/3);
    text-align: center;
}


.footer-main .footer-columna h3{
    font-size: 32px;
    color: lightgreen;
    margin-bottom: 20px;
}

.footer-main .footer-columna p{
    display: block;
    margin-bottom: 15px;
    text-align: justify;
}

.footer-main .footer-columna span{
    margin-right: 15px;
}

.footer-main .footer-columna:nth-child(2) img{
    width: 16em;
    position: relative;
    top: 75px;
    margin: 15px;
}


.footer-main .footer-columna:nth-child(3) img{
    width: 10em;
    position: relative;
    top: 30px;
    margin: 15px;
    background-color: white;
    padding: 10px;
    border: 3px solid #023402;
}

/**********************----------------------ESTILO PARA TABLET-------------**************/
@media only screen
and (max-width:1024px) 
and (orientation: portrait){
    /*----------------------MENU PRINCIPAL RESPONSIVE----------------------*/
    body{
        /*padding-top:70px; BAJA EL CONTENIDO PARA EL MENU*/
    }

    header:before{
        height: 4em;
    }

    #menu-principal{
        height: 55px;/*Para posicionamiento de botones e introducion*/
    }

    #menu-principal nav ul li{
        background: linear-gradient(0deg,#660000,#2c0000);
    }
    header h1{
        color: #000000;
        top: 80px;
        font-size: 2.7em;
    } 
    header h3{
        color: #000000;
        position: relative;
        left: 180px;
        top: 80px;		
    }

    header .container-botones{
        text-align: center;
        clear: both;
        position: relative;
        top: 32px;

    }

    .menu_bar{
        display: block;
        position: relative;
        top: -150px;
        z-index: 100;/*PARA QUE PASE POR ENCIMA DEL SLIDE*/
        
    }
    .menu_bar .boton_menu{
        display: block;
        color: #FFF;
        overflow: hidden;
        padding: 25px;
        text-decoration: none;
        font-weight: bold;
        font-size: 40px;
    }
    .menu_bar span{
        float: right;
    }

    #menu-principal nav{
        background-color: #1b6229;
        width: 75%;;
        position: fixed;
        top: 90px;
        right: 100%;
        margin: 0;
        overflow: auto;
        border: none;
    }

    #menu-principal nav ul li{
        display: block;
        float: none;
        border-bottom: 1px solid rgba(255,255,255,0.3);		
        text-align: justify;
    }
    #menu-principal nav ul li a{
        color: #ffffff;
    }

    #menu-principal nav ul li .children{
        width: 100%;
        position: relative;/*Para que no se superpongan a los li padres*/

        background-color: #BEE0BE;
    }

    #menu-principal nav ul li:hover .children{
        display: none;/*Ocultamos, porque los mostraremos con jQuery*/
    }

    #menu-principal nav ul li .caret {
        float: right;
    }
    
    /*********-----------------FOOTER TABLET--------------***************/
    .footer-main {
        padding: 10px 0;
    }

    .footer-main .footer-columna{
        text-align: center;
        width: 100%;
        margin:10px 0;
    }

    .footer-main .footer-columna h3{
        margin-bottom: 5px;
    }

    .footer-main .footer-columna:nth-child(2) img{
        top: 0px;
    }

    .footer-main .footer-columna:nth-child(3) img{
        top: 0px;
        width: 7em;
    }

}

/**********************----------------------ESTILO PARA MOVIL-------------**************/
@media only screen
and (min-width:360px)
and (max-width:480px) 
and (orientation: portrait){

    /*Titulos*/
    body header > h1{
        display: none;
    }
    body header > h3{/*Con body delante para que tenga mas especificidad*/
        position: relative;
        color: white;
        top: 0px;
        left: 40px;
        color: #ffffff;
        font-size: 1.3em;
        width: auto; 
    }

    /*Reposicionamiento de las banderas*/
    .container-banderas{
        position: absolute;
        top: 85px;
        right: 90px;
    }

    #menu-principal nav ul li{
        background: linear-gradient(0deg,#660000,#2c0000);
    }

    /*********-----------------CUERPO MOVIL--------------***************/

    .bach > article header h2{	
        font-size: 1.5em;
        padding: 5%;
    }

    .curso{
        width:50%;
        float:left;		
        margin:0;
    }

    .curso{
        text-align: center;
        font-size: 1em;
    }

}
